<% cache("about/#{params[:action]}") do %>
  <div id='about'>
    <%= render(partial: 'menu') %>
    <blockquote>
      Движок называется <b>Tachyon</b>, написан на Ruby on Rails, jQuery и Backbone.
      <br><br>
      <b>Анонимность</b>
      <p>
        Анонимность в движке реализована почти так же, как и у всех. Нет никакой регистрации, и единственное, 
        что движок знает о пользователе &mdash; его IP-адрес. Но, в отличие от других движков, Tachyon раз в двое суток
        (по таймеру) удаляет из всех сообщений, которые старше двух дней, айпи-адреса их авторов. То есть, по прошествии
        примерно двух дней с момента отправки сообщения его авторство смогут установить только спецслужбы, если обратятся
        с заявлением к хостеру нашего сайта.
        <br>
        Логи сервера тоже своевременно чистятся.
      </p>
      <br><br>
      <b>Тэги</b>
      <p>
        В движке нет четко определенных досок, но зато есть тэги, которые их заменяют. 
        <br>
        Как это работает: при создании треда вы можете указать один или несколько тэгов, под которые он подходит.
        Например, если вы создадите тред с тэгами <b>b</b> и <b>s</b>, то он будет показываться в при 
        просмотре обоих этих тэгов.
        <br>
        Можно просматривать тэги по одному, как на классической имиджборде, а можно зайти в тэг <b>~</b> (обзор)
        &mdash; в нем отображаются все треды со всех тэгов. В настройках можно, например, отключить показ 
        определенного тэга в обзоре.
        <br>
        Если вам не хватает какого-то определенного тэга, напишете об этом в /d/. 
        <br>
        В скором будущем будет реализована возможность просматривать несколько выбранных тэгов одновременно.
      </p>
      <br><br>
      <b>Пруфметки</b>
      <p>
        Пруфметки созданы на замену трипкодам. Вы, наверное, заметили, что в форме для создания 
        постов и тредов есть поле &laquo;пароль&raquo;. Он нужен для редактирования или удаления своих постов, и для 
        создания пруфметок.
        <br>
        Как это работает. Допустим, вы написали пост под номером 1337. Если в каком-нибудь другом посте вы напишете
        ##1337, то движок найдет этот пост и проверит, совпадает ли пароль этого поста с паролем того поста, в котором
        вы ставите пруфметку. Если пароли все-таки совпадают, то пруфметка будет подсвечена зеленым цветом, вот так:
        <a href="#proofmarks" class="proofmark">##1337</a>. А если пароли не совпадают, то никаких цветов видно не будет.
        <br>
        С помощью этого хитрого трюка можно показать всем, что вы автор определенного сообщения. Но невозможно доказать, что
        вы <b>не являетесь</b> автором этого сообщения, вы ведь просто могли сменить пароль и насемёнить.
        <br>
        Идеей пруфметок мы обязаны движку <a href="http://orphereus.anoma.ch">Orphereus</a>.
      </p>
      <br><br>
      <b>Удаление и редактирование сообщений</b>
      <p>
        В течение пяти минут после создания сообщения вы можете его отредактировать, удалить в нем файл, или удалить 
        все сообщение целиком. Для этого нужно, чтобы в поле &laquo;пароль&raquo; формы создания сообщения был тот же самый
        пароль, с которым было это сообщение отправлено. 
        <br>
        Для открытия меню удаления/редактирования сообщений нажмите на незаметный крестик рядом с датой сообщения. После
        редактирования поста изменения сразу же отобразятся у всех, кто этот пост в данный момент видит. 
      </p>
      <br><br>
      <b>live!</b>
      <p>
        Самый настоящий <a href="/live/">прямой эфир</a>. В нем показываются 15 самых последних сообщений со всех тредов.
        Также можно создавать сообщения прямо оттуда &mdash; этакий симулятор конфы. Идея была позаимствована у 
        <a href="http://leprosorium.ru">Лепрозория</a>.
      </p>
      <br><br>
      <b>Разметка сообщений</b>
      <p id="markup">
        <table class='markup'>
          <tr>
            <td class="header">Текст с разметкой</td>
            <td class="header">Результат</td>
          </tr>
          <tr>
            <td>**Полужирный**</td>
            <td><b>Полужирный</b></td>
          </tr>
          <tr>
            <td>*Наклонный*</td>
            <td><i>Наклонный</i></td>
          </tr>
          <tr>
            <td>__Подчеркнутый__</td>
            <td><u>Подчеркнутый</u></td>
          </tr>
          <tr>
            <td>_Зачеркнутый_</td>
            <td><s>Зачеркнутый</s></td>
          </tr>
          <tr>
            <td>%%Спойлер%%</td>
            <td><span class="spoiler">Спойлер</span></td>
          </tr>
          <tr>
            <td>&gt; Цитата</td>
            <td><span class="quote">&gt; Цитата</span></td>
          </tr>
          <tr>
            <td>--</td>
            <td>&mdash;</td>
          </tr>
          <tr>
            <td>&lt;&lt;кавычки&gt;&gt;</td>
            <td>&laquo;кавычки&raquo;</td>
          </tr>
           <tr>
            <td>[http://2ch.ru || Двач]</td>
            <td><a href="http://2ch.ru">Двач</a></td>
          </tr>
          <tr>
            <td>&gt;&gt;1337</td>
            <td>ссылка на сообщение <a href="#markup">&gt;&gt;1337</a></td>
          </tr>
          <tr>
            <td>##1337</td>
            <td>
              <a href="#markup" class="proofmark">##1337</a>
              <br> пруфметка (см. выше)
            </td>
          </tr>
          <tr>
            <td>##OP или ##ОП</td>
            <td>
              <a href="#markup" class="proofmark">##OP</a>
              <br> пруфметка автора треда
            </td>
          </tr>
        </table>
      </p>
    </blockquote>
  </div>
<% end %>