<% cache("about/#{params[:action]}") do %>
  <div id='about'>
    <%= render(partial: 'menu') %>
    <blockquote>
      <b>Как связаться с администрацией?</b>
      <p>
        Через jabber: <a href="xmpp://edison.trent@freeport7.org">edison.trent@freeport7.org</a>
      </p>
      <br><br>
      <b>Открыты ли исходные коды движка?</b>
      <p>
        Нет, и в ближайшем будущем открытие не планируется.
      </p>
      <br><br>
      <b>Я попросил добавить тэг, но его до сих пор нет!</b>
      <p>
        Для создания тэга недостаточно одной лишь просьбы &mdash; нужно наполнение. Никому
        не нужны пустующие разделы. Создайте несколько тредов нужной тематики, и если у вас 
        найдутся единомышленники, тэг будет обязательно создан.
      </p>   
      <br><br>
      <b>А зачем нужен тэг /trash/, чем он отличается от /b/?</b>
      <p>
        Воспринимайте /trash/ как включаемую и отключаемую модерацию. В этот тэг мы отправляем
        бессмыссленные треды, рекламу и спам. Доверяете мнению администрации &mdash; скройте этот
        тэг и мусор исчезнет. Не доверяете &mdash; не скрывайте. 
      </p>   
      <br><br>
      <b>Сколько максимально тредов тут может быть, и каков бамп-лимит?</b>
      <p>
        <% @settings = Settings.get %>
        Максимальное количество тредов на всем сайте (вне зависимости от тэгов) &mdash;
        <%= @settings.max_threads %>. Треды, выходящие за это количество, удаляются раз в два дня.
        <br>
        Бамплимит &mdash; <%= @settings.bump_limit %>. Если количество сообщений в треде превышает
        эту цифру, то тред больше не поднимается.
      </p>   
      <br><br>
      <b>Будет ли на сайте размещение рекламных баннеров?</b>
      <p>
        Нет.
      </p>  
    </blockquote> 
  </div>
<% end %>