<% cache("about/#{params[:action]}") do %>
  <div id='about'>
    <%= render(partial: 'menu') %>
    <blockquote>
      Использование этого сайта подразумевает согласие с несложныи правилами,
      которыми запрещены лишь два действия:
      <br><br>
      <b>Размещение материалов, запрещенных законодательством вашей страны</b>
      <p>
        Наличие на сайте запрещенных материалов может привести к закрытию доступа
        к сайту из вашей страны. 
      </p>
      <br><br>
      <b>Вайп тэга или треда</b>
      <p>
        Вайп (от англ. <i>wipe</i> &mdash; стирать, сметать) &mdash; создание большого
        количества сообщений с целью затруднить общение в отдельном треде или на всем 
        сайте в целом. Многочисленное создание одинаковых сообщений тоже расценивается как вайп.
        <br>
        Подобные действия направлены на то, чтобы помешать сайту исполнять свое предназначение, 
        и потому запрещены. Не мешайте общаться другим &mdash; никто не тронет и вас.  
      </p>
      <br><br>
      Администрация сайта оставляет за собой право изменять тэги тредов на свое усмотрение.
      <br>
      Последние действия администрации отображены в <a href="/about/modlog">модлоге</a>.
      <br><br>
      Также обращаем ваше внимание на то, что на сайте <i>могут быть</i> размещены материалы,
      запрещенные законодательством вашей страны для просмотра несовершеннолетними лицами.
      Если вы не достигли совершеннолетия, покиньте сайт.
    </blockquote>
  </div>
<% end %>