<% cache("about/#{params[:action]}") do %>
  <div id='about'>
    <%= render(partial: 'menu') %>
    <blockquote>
      Freeport 7 &mdash; анонимный коллективный блог без регистрации.
      Наша цель &mdash; создать место для свободного анонимного общения, для чего служат
      три основополагающих принципа:
      <br><br>
      <b>Свобода</b>
      <p>
        Список <a href="<%= url_for(action: 'rules') %>">правил</a>, за которые можно получить бан,
        очень короткий. Пользователь вправе писать сообщения на любые темы и загружать любые файлы, 
        за исключением нарушающих правила.
      </p>
      <br><br>
      <b>Равенство</b>
      <p>
        Все пользователи равны между собой. Полностью отсутствуют любые привилегии или дискриминация со
        стороны администрации сайта, которая обязуется сохранять непредвзятость и соблюдать принцип 
        равенства в любых ситуациях.
      </p>
      <br><br>
      <b>Анонимность</b>
      <p>
        Здесь нет регистрации и подписываться не обязательно. Всё, что сайт знает о пользователе
        &mdash; IP-адрес, с которого было отправлено сообщение. В логах сервера адреса не сохраняются, 
        да и из сообщений эти адреса стираются раз в двое суток. Администрация сайта обязуется никому и ни
        при каких обстоятельствах не раскрывать IP-адреса своих пользователей.
      </p>
    </blockquote>
  </div>
<% end %>